In [2]:
import pandas as pd
import re
import numpy as np

In [13]:
activity = pd.read_csv('pos_state_collar_2_2018_08_16_precise.csv')
collar = pd.read_csv('9dof_processed_C2.csv')
bracelet = pd.read_csv('ble_processed_C2.csv')
gps = pd.read_csv('gps_processed_C2.csv')
activity['start.time'] = activity['start.time'].apply(lambda x: '{:.0f}'.format(x))
activity['end.time'] = activity['end.times'].apply(lambda x: '{:.0f}'.format(x))
del activity['end.times']
collar.head()
activity.head()

  Actor    Behavior     start.time       end.time
0   ID1    stand up  1534400680081  1534400683981
1   ID1     walk up  1534400684081  1534400689781
2   ID1   walk down  1534400689881  1534400691581
3   ID1  stand down  1534400691681  1534400698281
4   ID1     walk up  1534400698381  1534400704881

In [4]:
collar = collar[collar['TIME'] > 1534395960] 
collar.head()

,TIME,ACC_X,ACC_Y,ACC_Z,GYRO_X,GYRO_Y,GYRO_Z,MAG_X,MAG_Y,MAG_Z
4896,1534395962,8.303095,-4.024728,-2.957529,0.009681,-0.000954,0.003682,-11.400001,-17.900000,-62.700001
4897,1534395962,8.796016,-4.120440,-2.397608,0.018544,-0.007499,0.000818,-11.800000,-18.200001,-62.799999
4898,1534395962,8.872586,-3.967300,-3.005385,0.011317,-0.010227,-0.000818,-12.100000,-16.100000,-63.200001
4899,1534395962,8.585447,-4.058227,-2.742175,0.004363,-0.006818,0.001227,-12.100000,-16.800001,-62.799999
4900,1534395962,8.590233,-4.101298,-2.766103,0.004091,-0.001091,0.002045,-11.900001,-17.200001,-60.900002

In [5]:
gps = gps[gps['TIMESTAMP'] > 1534395960] 
gps.head()

    TIMESTAMP  Latitude  Longitude
2  1534395965  0.295187  36.905240
3  1534395966  0.295188  36.905243
4  1534395966  0.295190  36.905245
5  1534395968  0.295195  36.905248
6  1534395970  0.295197  36.905253

In [6]:
bracelet = bracelet[bracelet['TIME'] > 1534395960] 
bracelet.head()

            TIME     ACC_X     ACC_Y     ACC_Z    GYRO_X    GYRO_Y    GYRO_Z
3260  1534395962  1.564453 -0.877197 -0.750732  2.946565 -6.312977 -1.671756
3261  1534395962  1.563721 -0.876953 -0.751465  2.893130 -6.648855 -1.458015
3262  1534395962  1.566162 -0.868652 -0.752686  2.938931 -6.183206 -1.763359
3263  1534395962  1.565430 -0.870605 -0.757080  3.259542 -6.229008 -1.694656
3264  1534395962  1.562256 -0.874023 -0.759277  3.282443 -6.458015 -1.305344

In [7]:
activity_timeline = pd.DataFrame(columns=['Actor','Behavior','time'])
activity_timeline.head()

Empty DataFrame
Columns: [Actor, Behavior, time]
Index: []

In [31]:
# for index, row in activity.iterrows():
#     end_time = int(row['end.time'])
#     time = int(row['start.time'])
#     while time<=end_time:
# #         activity_timeline.loc[index] = row['Actor']
# #         activity_timeline.loc[index] = row['Behavior']
# #         activity_timeline.loc[index] = str(time)
# #         time = time+1
#         print(time)
#         activity_timeline.append({'Actor': row['Actor'] , 'Behavior': row['Behavior'], 'time': str(time)},ignore_index=True)
#         time=time+1
        
    
df = collar.groupby(['TIME'])
df.head()

,TIME,ACC_X,ACC_Y,ACC_Z,GYRO_X,GYRO_Y,GYRO_Z,MAG_X,MAG_Y,MAG_Z
4896,1534395962,8.303095,-4.024728,-2.957529,0.009681,-0.000954,0.003682,-11.400001,-17.900000,-62.700001
4897,1534395962,8.796016,-4.120440,-2.397608,0.018544,-0.007499,0.000818,-11.800000,-18.200001,-62.799999
4898,1534395962,8.872586,-3.967300,-3.005385,0.011317,-0.010227,-0.000818,-12.100000,-16.100000,-63.200001
4899,1534395962,8.585447,-4.058227,-2.742175,0.004363,-0.006818,0.001227,-12.100000,-16.800001,-62.799999
4900,1534395962,8.590233,-4.101298,-2.766103,0.004091,-0.001091,0.002045,-11.900001,-17.200001,-60.900002
4908,1534395963,8.743374,-3.828516,-2.139184,-0.024407,0.034907,-0.000545,-9.700000,-16.100000,-68.000000
4909,1534395963,8.724232,-4.067799,-2.206182,-0.049769,0.043906,-0.002454,-7.900000,-14.100000,-70.099998
4910,1534395963,8.341380,-3.708875,-2.335395,-0.080312,0.050042,-0.005863,-6.700000,-8.900001,-76.400002
4911,1534395963,9.154940,-3.546163,-2.646462,-0.102402,0.089039,-0.005045,-3.000000,3.800000,-86.000000
4912,1534395963,9.245867,-3.215954,-2.325824,-0.092312,0.103902,0.023044,-2.200000,7.600000,-104.000000
4920,1534395964,8.528020,-1.292124,0.842274,0.144944,-0.116446,-0.067904,-14.800000,-29.000000,-64.500000
4921,1534395964,9.303294,-2.311467,-1.091127,-0.041043,0.002863,-0.143990,-7.600000,-43.000000,-60.100002
4922,1534395964,8.800801,-2.067399,-1.024128,0.098720,0.091221,0.053860,-4.400000,-49.000000,-60.400002
4923,1534395964,10.246066,-1.162912,-1.435694,0.022907,0.087403,0.044588,-2.500000,-52.200001,-60.400002
4924,1534395964,10.805987,-1.038485,-1.598405,-0.011999,0.051133,0.057269,-3.000000,-51.299999,-61.400002
4932,1534395965,10.284351,-2.589034,-0.047856,0.058087,0.064904,-0.015135,-2.500000,-45.799999,-55.400002
4933,1534395965,10.561919,-2.043471,-0.263211,0.055223,0.074449,0.026316,-3.100000,-45.299999,-55.000000
4934,1534395965,10.619347,-1.545763,-0.306281,0.073495,0.066541,0.058632,-4.500000,-44.900002,-52.000000
4935,1534395965,10.710274,-0.923630,-0.382852,0.041588,0.061905,0.057541,-4.900000,-46.100002,-51.500000
4936,1534395965,10.863415,-0.267996,-0.646062,0.050724,0.046088,0.032589,-6.500000,-46.000000,-51.000000
4944,1534395966,7.523035,1.043271,-0.813560,0.011726,-0.031089,-0.077858,3.700000,-41.500000,-57.100002
4945,1534395966,7.867601,0.516850,-0.976272,0.097902,0.104583,-0.104311,6.100000,-39.200001,-54.200001
4946,1534395966,9.164511,-0.167498,-0.856631,0.114265,0.225393,-0.116719,5.500000,-34.600002,-52.400002
4947,1534395966,9.643075,-0.981057,-1.148555,0.121082,0.293161,-0.128718,3.800000,-32.500000,-45.900002
4948,1534395966,14.347364,-1.531407,1.196411,0.272162,0.232756,-0.005045,1.300000,-30.300001,-42.100002
4956,1534395968,9.537791,0.043071,0.971486,-0.014454,-0.022771,-0.011317,-3.500000,-20.300001,-38.500000
4957,1534395968,9.489935,-0.239282,1.167697,-0.001364,-0.020180,-0.020589,-2.700000,-19.300001,-37.400002
4958,1534395968,9.757931,-0.445065,1.009771,0.002454,0.014181,-0.017590,-2.900000,-18.400000,-38.299999
4959,1534395968,10.021141,-0.579063,0.803988,0.001227,0.024544,0.008045,-3.000000,-18.600000,-38.900002
4960,1534395968,10.011570,-0.038285,0.665205,-0.009136,0.013908,0.015135,-3.500000,-18.400000,-39.000000
...,...,...,...,...,...,...,...,...,...,...
55032,1534402792,-5.560920,1.603191,-5.532206,0.025225,0.030134,0.006545,-2.000000,-23.900000,-91.099998
55033,1534402792,-8.513663,-0.157926,-4.584648,0.162670,-0.198258,-0.013908,-3.300000,-25.700001,-90.900002
55034,1534402792,-11.466406,-2.943172,-3.957729,0.199486,-0.177942,0.059314,-8.300000,-29.100000,-90.099998
55035,1534402792,-7.881958,-1.569692,-2.976671,0.128991,0.022089,0.060405,-8.400001,-31.300001,-88.400002
55036,1534402792,-8.441878,-1.292124,-4.153940,0.124627,-0.012817,0.075404,-8.600000,-33.400002,-86.500000
55044,1534402794,-7.948957,-0.167498,0.722632,-0.050996,0.016499,0.066268,-22.200001,-45.700001,-59.400002
55045,1534402794,-9.087940,3.220739,-3.986443,-0.053042,-0.034770,-0.232892,-20.800001,-46.700001,-61.100002
55046,1534402794,-7.403393,-1.129412,-4.407579,0.156125,-0.167715,-0.047042,-19.700001,-48.100002,-57.700001
55047,1534402794,-12.538391,-1.593620,-0.540778,0.038043,-0.050860,-0.073495,-17.600000,-46.799999,-55.400002
55048,1534402794,-8.891729,-2.201397,-0.894916,-0.129536,0.115355,0.055087,-17.400000,-47.500000,-57.700001
55056,1534402795,-8.953942,8.030313,-1.775474,-0.013363,-0.059587,-0.217484,-24.200001,-43.900002,-72.900002
55057,1534402795,-6.853044,-1.435694,-1.196411,0.169897,-0.093539,-0.068722,-23.500000,-45.600002,-68.000000
55058,1534402795,-12.131611,-0.842274,-1.507478,-0.009817,-0.044997,-0.097629,-22.300001,-46.799999,-67.200005
55059,1534402795,-9.738789,-1.942972,-2.723032,-0.118219,0.079903,0.108401,-21.600000,-45.200001,-67.000000
55060,1534402795,-7.044470,2.043471,-2.316252,-0.034088,0.055087,0.125718,-22.500000,-44.500000,-70.300003
55068,1534402797,-6.728617,1.942972,-0.703490,0.072404,-0.020317,0.108947,-19.300001,-41.200001,-78.900002
55069,1534402797,-9.265009,5.560920,-2.751746,-0.046906,0.017590,-0.081949,-19.600000,-41.400002,-79.000000
55070,1534402797,-8.015956,1.856830,-1.071985,0.144535,-0.183396,-0.044860,-20.100000,-42.000000,-76.400002
55071,1534402797,-11.251052,-1.593620,-0.818345,0.154898,-0.103493,-0.081676,-18.900000,-44.600002,-73.500000
55072,1534402797,-10.011570,-3.967300,1.148555,-0.058496,-0.001500,0.012408,-18.200001,-43.600002,-72.400002
55080,1534402798,-7.556534,-2.335395,-0.133998,-0.049633,0.038861,-0.011317,-7.500000,-48.100002,-66.099998
55081,1534402798,-10.375279,-4.168297,-3.560520,0.066677,0.028634,-0.130627,-5.100000,-47.299999,-66.200005
55082,1534402798,-8.413164,-6.427122,-3.455236,0.092721,-0.067495,-0.029861,-4.800000,-49.100002,-63.900002
55083,1534402798,-10.284351,-5.216353,-1.837688,-0.042270,-0.202213,0.131854,-4.800000,-48.400002,-64.000000
55084,1534402798,-11.265409,-5.876772,-0.655633,-0.132672,-0.056178,0.244073,-8.800000,-48.500000,-66.800003
55092,1534402799,-11.743974,-0.043071,-3.517449,-0.053723,0.053723,-0.291252,-8.800000,-46.200001,-76.099998
55093,1534402799,-9.609575,-6.943971,-4.235296,0.168261,0.001500,-0.002454,-5.700000,-45.700001,-74.700005
55094,1534402799,-5.493921,-5.393422,-0.612563,0.041315,0.065450,-0.162125,-2.400000,-46.799999,-71.200005
55095,1534402799,-6.144769,-9.446864,-3.029314,-0.177260,-0.029043,-0.084267,0.600000,-42.700001,-72.900002
55096,1534402799,-6.728617,-3.450450,-4.110869,0.032589,-0.023180,-0.058496,1.700000,-42.700001,-74.800003

In [15]:
activity.head()

  Actor    Behavior     start.time       end.time
0   ID1    stand up  1534400680081  1534400683981
1   ID1     walk up  1534400684081  1534400689781
2   ID1   walk down  1534400689881  1534400691581
3   ID1  stand down  1534400691681  1534400698281
4   ID1     walk up  1534400698381  1534400704881

In [31]:
gps['activity'] = ""

In [42]:
len_act = activity.shape[0]
len_gps = gps.shape[0]
i = 0
index = 0
count = 0
int(activity.iloc[[i]]['start.time'])/1000


while i<len_gps and index<len_act:
    st = int(activity.iloc[[index]]['start.time'])/1000
    et = int(activity.iloc[[index]]['end.time'])/1000
    t = gps.iloc[i]['TIMESTAMP']
#     print(t,st,et)
    if t>et:
        index = index+1
        continue
    elif t<st:
        i = i+1
        continue
    elif t>=st and t<=et:
        count = count +1
        gps.iloc[i,  gps.columns.get_loc('activity')] = str(activity.iloc[index]['Behavior'])
#         print(gps.iloc[i]['activity'])
        i = i +1
        
print(count)

1593

In [51]:
gps.iloc[3224:4875]

       TIMESTAMP  Latitude  Longitude    activity
3224  1534400682  0.346035  36.914653    stand up
3225  1534400683  0.346035  36.914653    stand up
3226  1534400685  0.346037  36.914653     walk up
3227  1534400686  0.346038  36.914652     walk up
3228  1534400689  0.346055  36.914643     walk up
3229  1534400690  0.346060  36.914642   walk down
3230  1534400691  0.346065  36.914642   walk down
3231  1534400692  0.346073  36.914637  stand down
3232  1534400693  0.346080  36.914633  stand down
3233  1534400694  0.346082  36.914630  stand down
3234  1534400695  0.346082  36.914628  stand down
3235  1534400697  0.346085  36.914627  stand down
3236  1534400698  0.346083  36.914628  stand down
3237  1534400700  0.346090  36.914622     walk up
3238  1534400701  0.346095  36.914622     walk up
3239  1534400702  0.346098  36.914620     walk up
3240  1534400703  0.346102  36.914613     walk up
3241  1534400704  0.346103  36.914613     walk up
3242  1534400705  0.346105  36.914613    stand up
3243  1534400706  0.346105  36.914613    stand up
3244  1534400707  0.346102  36.914613    stand up
3245  1534400708  0.346105  36.914613    stand up
3246  1534400709  0.346108  36.914610     walk up
3247  1534400710  0.346112  36.914608     walk up
3248  1534400711  0.346117  36.914605     walk up
3249  1534400712  0.346122  36.914605
3250  1534400713  0.346123  36.914605    stand up
3251  1534400714  0.346125  36.914607    stand up
3252  1534400715  0.346122  36.914608    stand up
3253  1534400716  0.346123  36.914608    stand up
...          ...       ...        ...         ...
4842  1534402760  0.346198  36.914125  stand down
4843  1534402762  0.346198  36.914125    stand up
4844  1534402763  0.346198  36.914125    stand up
4845  1534402765  0.346198  36.914127    stand up
4846  1534402766  0.346198  36.914127    stand up
4847  1534402768  0.346198  36.914127    stand up
4848  1534402769  0.346198  36.914127    stand up
4849  1534402771  0.346202  36.914127    stand up
4850  1534402772  0.346202  36.914127    stand up
4851  1534402774  0.346200  36.914127    stand up
4852  1534402775  0.346200  36.914125    stand up
4853  1534402777  0.346197  36.914127    stand up
4854  1534402778  0.346197  36.914127    stand up
4855  1534402779  0.346195  36.914127    stand up
4856  1534402780  0.346195  36.914128    stand up
4857  1534402781  0.346195  36.914127    stand up
4858  1534402782  0.346195  36.914127    stand up
4859  1534402784  0.346197  36.914127    stand up
4860  1534402785  0.346197  36.914127    stand up
4861  1534402787  0.346197  36.914125    stand up
4862  1534402788  0.346197  36.914123    stand up
4863  1534402790  0.346198  36.914122    stand up
4864  1534402791  0.346198  36.914120    stand up
4865  1534402793  0.346198  36.914120     walk up
4866  1534402794  0.346197  36.914120     walk up
4867  1534402796  0.346190  36.914120     walk up
4868  1534402797  0.346178  36.914125     walk up
4869  1534402798  0.346172  36.914127     walk up
4870  1534402800  0.346158  36.914125     walk up
4871  1534402801  0.346155  36.914125  stand down

[1648 rows x 4 columns]

In [53]:
gps.to_csv('gps_act_merged.csv', encoding='utf-8', index=False)